$color-primary: rgba(168, 218, 220, 1);
$color-highlight: rgba(230, 57, 70, 1);
$color-light: rgba(252, 255, 252, 1);
$color-dark: rgba(35, 35, 42, 1);
$color-secondary: rgba(29, 53, 87, 1);
$color-tertiary: rgba(69, 123, 157, 1);
