$color-primary: #e63946;
$color-light: rgba(241, 250, 238, 1);
$color-dark: rgba(35, 35, 42, 1);
$color-highlight: rgba(168, 218, 220, 1);
$color-secondary: rgba(69, 123, 157, 1);
$color-tertiary: rgba(29, 53, 87, 1);
