// Fade
.fade-enter-active {
    transition: opacity 0.2s ease-out;
}
.fade-leave-active {
    transition: opacity 0.2s ease-in;
}
.fade-enter,
.fade-leave-active {
    opacity: 0;
}

// Slide fade
.slide-fade-enter-active {
    transition: all 0.3s ease;
}
.slide-fade-leave-active {
    transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(15px);
    opacity: 0;
}
