@import '~/assets/scss/_colors.scss';
@import '~/assets/scss/_typography.scss';
@import '~/assets/scss/_tailwind.scss';

body {
    background-color: $color-light;
    min-height: 100vh;
    height: 100%;

    overflow-x: hidden;
}
