@import '~/assets/scss/_colors.scss';
@import '~/assets/scss/_typography.scss';
@import '~/assets/scss/_tailwind.scss';
@import '~/assets/scss/_transitions.scss';
@import '~/assets/scss/page-content.scss';

body {
    background-color: $color-light;
    min-height: 100vh;
    height: 100%;

    overflow-x: hidden;

    // Selection color
    ::-moz-selection,
    ::selection {
        background-color: $color-primary;
        background-image: linear-gradient(
            to right,
            lighten($color-primary, 10%) 0%,
            $color-primary 100%
        );
    }

    // Font smoothing
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
