// IMPORTS - Bulma (variables and functions)
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

// IMPORTS - Color scheme
@import '@/assets/scss/_colors.scss';
@import '@/assets/scss/_typography.scss';

// VARIABLES - Colors
$red: $color-primary;
$blue: $color-secondary;

$primary: $red;
$light: $color-light;
$dark: $color-dark;
$info: $color-tertiary;

$warning: $red;

// VARIABLES - Typography
$family-sans-serif: $font-sans-serif;
$family-monospace: $font-monospace;

// IMPORTS - Bulma (rest of library)
@import 'bulma';
