.hero {
  @apply flex flex-wrap-reverse;
  height: calc(100vh - 90px);
}

.hero > div {
  @apply w-full;
}
@screen md {
  .hero > div {
    @apply w-1/2;
  }
}

.hero-text {
  @apply flex flex-col p-8;
  @apply justify-start;
}
@screen md {
  .hero-text {
    @apply justify-center;
  }
}

.hero-portrait {
  mix-blend-mode: overlay;
  z-index: 3;
  @apply bg-local bg-contain bg-no-repeat bg-center w-full h-full;
}

.hero-grid {
  background: radial-gradient(
      circle,
      transparent 20%,
      rgba(168, 218, 220, 1) 20%,
      rgba(168, 218, 220, 1) 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        rgba(168, 218, 220, 1) 20%,
        rgba(168, 218, 220, 1) 80%,
        transparent 80%,
        transparent
      )
      40px 40px,
    linear-gradient(rgba(252, 255, 250, 1) 6px, transparent 6px) 0 -3px,
    linear-gradient(90deg, rgba(252, 255, 250, 1) 6px, transparent 6px) -3px 0;
  background-color: rgba(168, 218, 220, 1);
  background-size: 80px 80px, 80px 80px, 40px 40px, 40px 40px;
  opacity: 0.3;
  @apply w-full h-full absolute top-0 left-0;
}
