.hero {
  @apply flex flex-wrap-reverse;
  height: calc(100vh - 90px);
}

.hero > div {
  @apply w-full;
}
@screen lg {
  .hero > div {
    @apply w-1/2;
  }
}

.hero-text {
  @apply flex flex-col p-10;
  @apply justify-start;
}
@screen lg {
  .hero-text {
    @apply justify-center;
  }
}
.hero-text-hello {
  @apply font-bold font-serif text-5xl;
}
@screen md {
  .hero-text-hello {
    font-size: 5em;
  }
}

.hero-portrait {
  mix-blend-mode: normal;
  z-index: 3;
  opacity: 0.8 !important;
  @apply bg-cover bg-no-repeat bg-center w-full h-full;
}
