:root {
    --color-dark: rgba(35, 35, 42, 1);
    --color-light: rgba(252, 255, 250, 1);
    --color-highlight: rgba(230, 57, 70, 1);
    --color-blue-primary: rgba(168, 218, 220, 1);
    --color-blue-secondary: rgba(69, 123, 157, 1);
    --color-blue-tertiary: rgba(29, 53, 87, 1);
}
