.style-normal p,
.style-normal span,
.style-normal h5,
.style-normal h6,
.style-normal ul,
.style-normal ol,
.style-normal table {
  @apply text-lg mb-2 leading-relaxed;
}
.style-normal h1 {
  @apply text-4xl;
  @apply mb-2 my-4;
}
.style-normal h2 {
  @apply text-3xl my-4;
}
.style-normal h3 {
  @apply text-2xl my-2;
}
.style-normal h4 {
  @apply text-xl my-2;
}
.style-normal ul,
.style-normal ol {
  @apply ml-4 list-inside inline-block;
}
.style-normal ul {
  @apply list-disc;
}
.style-normal ol {
  @apply list-decimal;
}
.style-normal li > * {
  @apply inline;
}
.style-normal img {
  @apply mx-auto my-8 w-full;
}
@screen md {
  .style-normal img {
    @apply w-2/3;
  }
}

.style-normal img,
.style-normal code.hljs {
  @apply shadow;
}
.style-normal blockquote {
  @apply pl-8 p-4 my-4 bg-gray-200;
}
.style-normal a,
.link-normal {
  padding: 0em 0.1em;
  transition: var(--transition-standard);

  @apply border-b-2 border-highlight cursor-pointer;
}
.style-normal a:hover,
.link-normal:hover {
  @apply bg-highlight text-light;
  @apply border-0;
  padding: 0.2em 0.1em;
}
